@import 'packages/bootstrap3-sass/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

$defaultTextColor: #ffffff;
$backgroundColor: #2d2d2d;
$controlColor: #ff0000;
$inverted: #000000;

$color1: rgb(156,32,32);
$color2: rgb(28,32,156);
$color3: rgb(250,253,0);
$color4: rgb(72,0,120);

body {
  margin: 0 1em 0 1em;
  padding: 0px;
  color: $defaultTextColor;
  font-family: arial;
  font-size: 1em;
  background: $backgroundColor;
}

a {
  text-decoration: none;
  color: $defaultTextColor;
}

h1
{
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2em;
  float: left;
}

.scores
{
  font-family: 'Press Start 2P', cursive;
  float: right;
  font-size: 1.6em;
  padding: 1em;
}

.scores td
{
  padding-right: 1em;
  width: 10em;
}

.modal-dialog
{
  color: $backgroundColor;
}

canvas
{
  margin: auto;
  width: 100%;
  height: 100%;
}

.movement
{
  font-size: 1.2em;
}

.control
{
  color: $controlColor;
  font-weight: bold;
  font-size: 1.2em;
}

.authorInfo
{
  float: right;
  font-size: 0.8em;
}

.color1
{
  background-color: $color1;
}

.color2
{
  background-color: $color2;
}

.color3
{
  background-color: $color3;
  color: $inverted;
}

.color4
{
  background-color: $color4;
}