@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: arial;
  font-size: 100%;
  background: #2d2d2d;
}

.playArea
{
  width: 100vw;
  height: 100vh;
  padding: 1em 1.618em 0 1.618em;
  box-sizing: border-box;
  position: relative;
}

.hidden
{
  display: none;
}

.scores
{
  font-family: 'Press Start 2P', cursive;
  height: 10%;
  width: 100%;
}

.scores h1
{
  margin-top: 0rem;
  font-size: 1rem;
  float: left;
}

.scores .players
{
  margin-top: 0rem;
}

.scores .player
{
  display: inline-block;
  margin: 0rem 0rem 0rem 4rem;
  float: right;
}

.scores .name
{
  display: inline-block;
  width: 12rem;
}

.scores td
{
  padding-right: 1em;
  width: 10em;
}

.drawArea
{
  margin: 0 auto;
  width: 100%;
  height: 80%;
}

canvas
{
  width: 100%;
  height: 100%;
}

.movement
{
  margin-top: 0.809em;
  margin-bottom: 0.809em;
  font-size: 0.809em;
}

.control
{
  color: #ff0000;
  font-weight: bold; 
}

.color1
{
  background-color: rgb(156,32,32);
}

.color2
{
  background-color: rgb(28,32,156);
}

.color3
{
  background-color: rgb(250,253,0);
  color: #000000;
}

.color4
{
  background-color: rgb(72,0,120);
}

@-webkit-keyframes loading {
  from { opacity: 0; }
  to { opacity: 0.4; }
}

@keyframes loading {
  0% { opacity: 0; }
  100% { opacity: 0.4; }
}

.enterPlayerName
{
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.4;
  -webkit-animation: loading 0.5s ease-in; 
  animation: loading 0.5s ease-in;
}

@-webkit-keyframes loading2 {
  0% { 
    visibility: visible;
    top: 0%; 
  }
  50% {
    visibility: visible;
    top: 55%;
  }
  100% { 
    visibility: visible;
    box-shadow: 0px 0px 30px #000000;
    top: 50%; 
  }
}

@keyframes loading2 {
  0% { 
    visibility: visible;
    top: 0%; 
  }
  50% {
    visibility: visible;
    top: 55%;
  }
  100% { 
    visibility: visible;
    box-shadow: 0px 0px 30px #000000;
    top: 50%; 
  }
}

.enterPlayerName--dialog
{
  position: absolute;
  background-color: #000000;
  margin: 0 auto;
  width: 20rem;
  height: 6.5rem;
  left: 50%;
  background-color: #ffffff;
  padding: 1em;
  z-index: 110;
  visibility: hidden;
  top: 50%;
  color: #000000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loading2 0.5s ease-out 0.7s forwards;
  animation: loading2 0.5s ease-out 0.7s forwards;
}

.enterPlayerName--dialog h2
{
  margin: 0 auto 0.618em;
  font-family: arial;
  text-align: center;
}

.inputPlayerName
{
  display: block;
  width: 10rem;
  margin: 0 auto 1em;
}

.inputPlayerName--button
{
  padding: 0.618em;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
  margin: 0 auto;
  width: 8rem;
  display: block;
}

.modal-dialog
{
  color: #2d2d2d;
}

@media only screen and (max-width: 60rem) {
  body
  {
    font-size: 40%;
  }

  .scores .name
  {
    width: 6rem;
  }
}