@import 'nib'

defaultTextColor = #ffffff
primaryLinkColor = #ecec89
secondaryLinkColor = #c6fff2

/*
itemWeight(w,fontSize)
  width: w em;
  font-size: fontSize em;*/

*
  box-sizing: border-box

body
  margin: 0em
  padding: 0em
  color: defaultTextColor
  font-family: arial
  font-size: 1.5em
  background: #2d2d2d

a
  text-decoration: none
  color: defaultTextColor

canvas
  margin: auto;
  padding: 40px;
  width: 100%;
